extends layout

block content
  body
    h1(style='text-align: center;') Santa's naughty or nice list 2021
    br
    div
      h4 Add new entry

      form(role='form' method='POST')
        div.row(style="display:flex; align-items: center;")
          //- div.col-md-3
          //-   div.form-group
          //-     label(for='id') ID:
          //-     input#id.form-control(type="number", min="1", max="1000", placeholder='1' name='id')

          div.col-md-3
            div.form-group
              label(for='name') Name and surname:
              input#name.form-control(type="text", placeholder="John Doe", name="name")

          div.col-md-3
            div.form-group
              label(for='age') Age:
              input#age.form-control(type="number", min="18" max="100", placeholder="20", name="age")

          div.col-md-3
            div.form-group
              label(style="display:block; visibility: hidden;") Submit
              button.btn.btn-primary(type="submit") Submit
    br

    table(style='width:100%', border='1')
      thead
        tr
          th(style='text-align: center;') #
          th(style='text-align: center;') User
          th(style='text-align: center;') Age
          th(style='text-align: center;') Status
      tbody
        each user in users
          tr(style='text-align: center;')
            td #{user.id}
            td #{user.name}
            td #{user.age}
            if user.isActive
              td Nice
            else
              td Naughty

    br

    table(style='width:100%')
      tbody
        tr
          td(style="float: left;")
            if (parseInt(page.page) > parseInt(page.firstPage))
              a(href=`?page=${parseInt(page.page) - 1}&pageSize=${parseInt(page.pageSize)}`) Previous page
            else
              a(href=`?page=${parseInt(page.lastPage) - 1}&pageSize=${parseInt(page.pageSize)}`) Previous page

          td(style="text-align: center;")
            span #{page.pageInfo}

          td(style="float: right;")
            if (parseInt(page.page) < parseInt(page.lastPage) - 1)
              a(href=`?page=${parseInt(page.page) + 1}&pageSize=${parseInt(page.pageSize)}`) Next page
            else
              a(href=`?page=0&pageSize=${parseInt(page.pageSize)}`) Next page
